extends layout

block content
    #mech-div
        h2.blue-header= "What Can We Do For You Today?"
        p= "We provide a variety of different services, take a look at what we can help you with."
        .mech-cont
            .mech-img.brakes
                h4.ms= "Brake Repairs"
                p.hide= "Inspect, maintain & replace brake pads, rotors and related component,s We provide brake flushes as well."
            .mech-img.prevent
                h4.ms= "Preventative Maintenance"
                p.hide= "We do oil & filter changes along with a general safety check. In addition, we top-up necessary fluids & tires condition. We also provide tune-ups and much more!"
            .mech-img.battery
                h4.ms= "Battery Services"
                p.hide= "Test battery system & alternator to ensure the entire charging system is in full working condition."
            .mech-img.steering
                h4.ms= "Steering & Suspension System"
                p.hide= "Inspect to ensure that suspension components are operating normally & steering components are in working order."
            .mech-img.engine
                h4.ms= "Engine Repairs"
                p.hide= "We check for possible oil leaks, diagnose engine lights & repair accordingly."
            .mech-img.wheel
                h4.ms= "Wheel Alignments"
            .mech-img.exhaust
                h4.ms= "Exhaust System Repairs"
            .mech-img.cooling
                h4.ms= "Cooling System & Radiators"
                p.hide= "Ensure there are no leaks in the cooling system & radiator. We check the conditions of coolant hoses & clamps."
            .mech-img.ac
                h4.ms= "Air Conditioning & Heating System"
                p.hide= "We repair the fan system in your vehicle making sure the air conditioning is coolk for you in the summers and heat in the winters."
            .mech-img.belts
                h4.ms= "Belts & Pulley System"
            .mech-img.fleet
                h4.ms= "Fleet Management"
                p.hide= "If you have a few vehicles for your company to be looked after, we can take care of you. Give us a call and we can ensure all your vehicles are in great running condition."

    #inquiries
        h4= "For all inquiries, please give us a call."
        button
            a(href="contact.html")= "Contact Us"